<footer class="site-footer">

  <div class="wrapper">

    <h4 class="footer-heading">{{ site.title }}</h4>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="http://andycao.github.io">
            <i class="fa fa-home"></i>
            我的主页
          </a></li>
          <li><a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o"></i>
            {{ site.email }}</a></li>
          <li>
            <a href="https://github.com/andycao/blogs/tree/gh-pages">
              <i class="fa fa-code-fork"></i>
              博客源码
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
              <i class="fa fa-github-alt"></i>
              <span>github</span>
            </a>
          </li>
          {% endif %}

          <!-- stackoverflow -->
          {% if site.github_username %}
          <li>
            <a href="http://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
              <i class="fa fa-stack-overflow"></i>
              <span>stackoverflow</span>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
